<footer class="f-info text-center border-top mt-5 bg-light">
  <div class="f-info-socials mt-3">
    <a href="#" class="text-dark me-3"
      ><i class="fa-brands fa-facebook-f fa-lg"></i
    ></a>
    <a href="#" class="text-dark me-3"
      ><i class="fa-brands fa-instagram fa-lg"></i
    ></a>
    <a href="#" class="text-dark me-3"
      ><i class="fa-brands fa-linkedin-in fa-lg"></i
    ></a>
    <a href="https://github.com/gopinath122" target="_blank" class="text-dark"
      ><i class="fa-brands fa-github fa-lg"></i
    ></a>
  </div>
  <div class="f-info-brand mt-2">&copy; Wanderlust Private Limited</div>
  <div class="f-info-links mb-3 mt-1">
    <a href="#" class="text-decoration-none text-muted me-2">Privacy</a>
    <a href="#" class="text-decoration-none text-muted">Terms</a>
  </div>
</footer>
