body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1; /*  So that it body will be in miiddle nad remaing will tkae full heiht */
}

.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
  font-size: 1.2rem !important;
  /*important is used coz bootstrap has it own styling so u have to override the style*/
}
.f-info-links a {
  color: #222222;
  text-decoration: none;
}

.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-links {
  width: 100%;
  font-size: 1.2rem;
}

.f-info-socials {
  width: 100%;
  font-size: 1.3rem;
  margin-right: 1rem;
}
.f-info-socials,
.f-info-socials,
.f-info-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-info-brand {
  font-size: 1.3rem;
}

.f-info {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 6rem;
  flex-wrap: wrap;
  align-items: space-evenly;
  background-color: #dcd7d7;
}

/* Cards */
.listing-card {
  border: none !important;
  border-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 700 !important;
}

.listing-link {
  text-decoration: none;
  color: #222222;
}

/* card effect click wala */

.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}
/* New Page  */
.add-btn {
  color: #fe424d;
  background-color: #fe424d !important;
  border: none !important;
}
.edit-btn {
  color: #fe424d;
  background-color: #fe424d !important;
  border: none !important;
}

/* SHow Page  */
.show-img {
  height: 50vh;
}

.btns {
  display: flex;
}
